doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{i18n.__("WELCOME_MSG")}
    // Bootstrap core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/creative.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') #{'i18n'}
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') About
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#services') Services
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Contact
    header.masthead
      .header-content
        .header-content-inner
          h1#homeHeading Your Favorite Source of Free Bootstrap Themes
          hr
          p
            | Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More
    section#about.bg-primary
      .container
        .row
          .col-lg-8.mx-auto.text-center
            h2.section-heading.text-white We've got what you need!
            hr.light
            p.text-faded
              | Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
            a.btn.btn-default.btn-xl.js-scroll-trigger(href='#services') Get Started!
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading At Your Service
            hr.primary
      .container
        .row
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-diamond.text-primary.sr-icons
              h3 Sturdy Templates
              p.text-muted Our templates are updated regularly so they don't break.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
              h3 Ready to Ship
              p.text-muted You can use this theme as is, or you can make changes!
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
              h3 Up to Date
              p.text-muted We update dependencies to keep things fresh.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-heart.text-primary.sr-icons
              h3 Made with Love
              p.text-muted You have to make your websites with love these days!
    section#portfolio.p-0
      .container-fluid
        .row.no-gutter.popup-gallery
          .col-lg-4.col-sm-6
            a.portfolio-box(href='images/portfolio/fullsize/1.jpg')
              img.img-fluid(src='images/portfolio/thumbnails/1.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Medium
                  .project-name
                    | Jalapeño
          .col-lg-4.col-sm-6
            a.portfolio-box(href='images/portfolio/fullsize/2.jpg')
              img.img-fluid(src='images/portfolio/thumbnails/2.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Extra Hot
                  .project-name
                    | Trinidad Moruga scorpion
          .col-lg-4.col-sm-6
            a.portfolio-box(href='images/portfolio/fullsize/3.jpg')
              img.img-fluid(src='images/portfolio/thumbnails/3.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Hot
                  .project-name
                    | Habanero
          .col-lg-4.col-sm-6
            a.portfolio-box(href='images/portfolio/fullsize/4.jpg')
              img.img-fluid(src='images/portfolio/thumbnails/4.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Medium
                  .project-name
                    | Cayenna
          .col-lg-4.col-sm-6
            a.portfolio-box(href='images/portfolio/fullsize/5.jpg')
              img.img-fluid(src='images/portfolio/thumbnails/5.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Hot
                  .project-name
                    | Thai
          .col-lg-4.col-sm-6
            a.portfolio-box(href='images/portfolio/fullsize/6.jpg')
              img.img-fluid(src='images/portfolio/thumbnails/6.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Hot
                  .project-name
                    | Mixed
    .call-to-action.bg-dark
      .container.text-center
        h2 Free Download at Start Bootstrap!
        a.btn.btn-default.btn-xl.sr-button(href='http://startbootstrap.com/template-overviews/creative/') Download Now!
    section#contact
      .container
        .row
          .col-lg-8.mx-auto.text-center
            h2.section-heading Let's Get In Touch!
            hr.primary
            p
              | Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
        .row
          .col-lg-4.ml-auto.text-center
            i.fa.fa-phone.fa-3x.sr-contact
            p (+41) 076 753 36 12
          .col-lg-4.mr-auto.text-center
            i.fa.fa-envelope-o.fa-3x.sr-contact
            p
              a(href='mailto:leonmoka@gmail.com') leonmoka@gmail.com
    
    button(onclick='topFunction()' id='goTopBtn' title='Go to top') Top

    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/popper/popper.min.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='vendor/scrollreveal/scrollreveal.min.js')
    script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
    // Custom scripts for this template
    script(src='/javascripts/creative.js')


//- doctype html
//- html
//-   include common/head
//-   body#page-top
//-     nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
//-       .container
//-         a.navbar-brand.js-scroll-trigger(href='#page-top') Start Bootstrap
//-         button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
//-           span.navbar-toggler-icon
//-         #navbarResponsive.collapse.navbar-collapse
//-           ul.navbar-nav.ml-auto
//-             li.nav-item
//-               a.nav-link.js-scroll-trigger(href='#about') About
//-             li.nav-item
//-               a.nav-link.js-scroll-trigger(href='#services') Services
//-             li.nav-item
//-               a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
//-             li.nav-item
//-               a.nav-link.js-scroll-trigger(href='#contact') Contact


//-     header.masthead
//-       .header-content
//-         .header-content-inner
//-           h1#homeHeading Your Favorite Source of Free Bootstrap Themes
//-           hr
//-           p
//-             | Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
//-           a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More




//-     section#about.bg-primary
//-       .container
//-         .row
//-           .col-lg-8.mx-auto.text-center
//-             h2.section-heading.text-white We've got what you need!
//-             hr.light
//-             p.text-faded
//-               | Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
//-             a.btn.btn-default.btn-xl.js-scroll-trigger(href='#services') Get Started!
//-     section#services
//-       .container
//-         .row
//-           .col-lg-12.text-center
//-             h2.section-heading At Your Service
//-             hr.primary
//-       .container
//-         .row
//-           .col-lg-3.col-md-6.text-center
//-             .service-box
//-               i.fa.fa-4x.fa-diamond.text-primary.sr-icons(data-sr-id='2', style='; visibility: visible;  -webkit-transform: scale(0.3); opacity: 0;transform: scale(0.3); opacity: 0;')
//-               h3 Sturdy Templates
//-               p.text-muted Our templates are updated regularly so they don't break.
//-           .col-lg-3.col-md-6.text-center
//-             .service-box
//-               i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons(data-sr-id='3', style='; visibility: visible;  -webkit-transform: scale(0.3); opacity: 0;transform: scale(0.3); opacity: 0;')
//-               h3 Ready to Ship
//-               p.text-muted You can use this theme as is, or you can make changes!
//-           .col-lg-3.col-md-6.text-center
//-             .service-box
//-               i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons(data-sr-id='4', style='; visibility: visible;  -webkit-transform: scale(0.3); opacity: 0;transform: scale(0.3); opacity: 0;')
//-               h3 Up to Date
//-               p.text-muted We update dependencies to keep things fresh.
//-           .col-lg-3.col-md-6.text-center
//-             .service-box
//-               i.fa.fa-4x.fa-heart.text-primary.sr-icons(data-sr-id='5', style='; visibility: visible;  -webkit-transform: scale(0.3); opacity: 0;transform: scale(0.3); opacity: 0;')
//-               h3 Made with Love
//-               p.text-muted You have to make your websites with love these days!
//-     section#portfolio.p-0
//-       .container-fluid
//-         .row.no-gutter.popup-gallery
//-           .col-lg-4.col-sm-6
//-             a.portfolio-box(href='images/portfolio/fullsize/1.jpg')
//-               img.img-fluid(src='images/portfolio/thumbnails/1.jpg', alt='')
//-               .portfolio-box-caption
//-                 .portfolio-box-caption-content
//-                   .project-category.text-faded
//-                     | Category
//-                   .project-name
//-                     | Project Name
//-           .col-lg-4.col-sm-6
//-             a.portfolio-box(href='images/portfolio/fullsize/2.jpg')
//-               img.img-fluid(src='images/portfolio/thumbnails/2.jpg', alt='')
//-               .portfolio-box-caption
//-                 .portfolio-box-caption-content
//-                   .project-category.text-faded
//-                     | Category
//-                   .project-name
//-                     | Project Name
//-           .col-lg-4.col-sm-6
//-             a.portfolio-box(href='images/portfolio/fullsize/3.jpg')
//-               img.img-fluid(src='images/portfolio/thumbnails/3.jpg', alt='')
//-               .portfolio-box-caption
//-                 .portfolio-box-caption-content
//-                   .project-category.text-faded
//-                     | Category
//-                   .project-name
//-                     | Project Name
//-           .col-lg-4.col-sm-6
//-             a.portfolio-box(href='images/portfolio/fullsize/4.jpg')
//-               img.img-fluid(src='images/portfolio/thumbnails/4.jpg', alt='')
//-               .portfolio-box-caption
//-                 .portfolio-box-caption-content
//-                   .project-category.text-faded
//-                     | Category
//-                   .project-name
//-                     | Project Name
//-           .col-lg-4.col-sm-6
//-             a.portfolio-box(href='images/portfolio/fullsize/5.jpg')
//-               img.img-fluid(src='images/portfolio/thumbnails/5.jpg', alt='')
//-               .portfolio-box-caption
//-                 .portfolio-box-caption-content
//-                   .project-category.text-faded
//-                     | Category
//-                   .project-name
//-                     | Project Name
//-           .col-lg-4.col-sm-6
//-             a.portfolio-box(href='images/portfolio/fullsize/6.jpg')
//-               img.img-fluid(src='images/portfolio/thumbnails/6.jpg', alt='')
//-               .portfolio-box-caption
//-                 .portfolio-box-caption-content
//-                   .project-category.text-faded
//-                     | Category
//-                   .project-name
//-                     | Project Name
    
//-     .call-to-action.bg-dark
//-       .container.text-center
//-         h2 Free Download at Start Bootstrap!
//-         a.btn.btn-default.btn-xl.sr-button(href='http://startbootstrap.com/template-overviews/creative/', data-sr-id='6', style='; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;') Download Now!


//-     section#contact
//-       .container
//-         .row
//-           .col-lg-8.mx-auto.text-center
//-             h2.section-heading Let's Get In Touch!
//-             hr.primary
//-             p
//-               | Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
//-         .row
//-           .col-lg-4.ml-auto.text-center
//-             i.fa.fa-phone.fa-3x.sr-contact(data-sr-id='8', style='; visibility: visible;  -webkit-transform: scale(0.3); opacity: 0;transform: scale(0.3); opacity: 0;')
//-             p 123-456-6789
//-           .col-lg-4.mr-auto.text-center
//-             i.fa.fa-envelope-o.fa-3x.sr-contact(data-sr-id='9', style='; visibility: visible;  -webkit-transform: scale(0.3); opacity: 0;transform: scale(0.3); opacity: 0;')
//-             p
//-               a(href='mailto:your-email@your-domain.com') feedback@startbootstrap.com



//-     block content

//-     include common/importjs