// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/popper/popper.min.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
script(src='vendor/scrollreveal/scrollreveal.min.js')
script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
// Custom scripts for this template
script(src='javascripts/creative.js')
